<form class="healing-dialog">
  <label for="trihn">Trihn à soigner</label>
  <select id="trihn" name="trihn">
    <option value="esprit">Esprit</option>
    <option value="ame">Âme</option>
    <option value="corps">Corps</option>
  </select>
</form>