<div class="tab possessions" data-group="primary" data-tab="possessions">
  <div style="width:50%">
    <label class="character-artefacts-label label-polygon">{{localize
        "SW.Labels.Artefacts"
      }}</label>
    <div class="whitebox artefacts">

    </div>
  </div>
  <div style="width:50%;margin-left:3px;">
    <label class="character-ressources-label label-polygon">{{localize
        "SW.Labels.Ressources"
      }}</label>
    <div class="whitebox ressources">

    </div>
  </div>
</div>