:root {
  --necrose: #707176;
  --corps: #cc7054;
  --ame: #769bc1;
  --esprit: #c2a472;
  --green-bg: #768c84;
  --whitebox-border: #aeb6aa;
  --whitebox-background: #ffffff;
}
@font-face {
  font-family: ITCOfficinaSans;
  src: url(../fonts/itc-officina-sans-lt-book.ttf);
}
@font-face {
  font-family: Komikazoom;
  src: url(../fonts/KAMIKZOM.ttf);
}
h3 {
  font-family: Komikazoom;
  font-weight: 400;
  border: 0;
}
.actor.sheet a:hover {
  text-shadow: 0 0 8px #4d6452;
}
.actor.sheet .circle input::selection {
  background: rgba(130, 129, 125, 0.5);
}
.actor.sheet .fa-solid,.actor.sheet .fas {
  font-weight: 500;
}
.system-shaanworld #pause img {
  content: url("../assets/symbole_pause.webp");
  object-fit: contain;
}
::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--necrose);
  border: 0;
}
.sheet label {
  font-family: ITCOfficinaSans;
  text-transform: uppercase;
}
.actor.sheet select {
  width: calc(100% - 2px);
  min-width: 20px;
  height: var(--form-field-height);
  padding: 1px 3px;
  margin: 0;
  margin-top: 2px;
  border: none;
  background-color: rgba(28, 28, 28, 0.1);
  border-radius:none;
}
label.green-label {
  color: var(--green-bg);
}
.sheet.character .window-content {
  padding: 0 !important;
  overflow-y: scroll;
}
.sheet.character .window-resizable-handle {
  display: none;
}
.sheet.character .window-content{
  background: var(--green-bg);
}
.actor.sheet.character {
  background: var(--green-bg);
  resize: none;
}
.actor.sheet.character {
  width: 100%;
  height: 100%;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.05fr 1fr;
}
/* header */
.actor.sheet #logo {
  width: 100%;
  border: none;
  flex: 1;
  margin-top: 0;
  margin-bottom: -9px;
  margin-left: 0;
}
.actor.sheet.character header {
  display: flex;
  flex-direction: column;
  height: 0px;
  width: 335px;
  position: relative;
  left: 390px;
  top:-12px;
  z-index: 10;
}
.actor.sheet .domainCheck {
  position: relative;
  top: -589px;
  left: -6px;
  display: grid;
  grid-template-rows: 0.1fr 0.1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  font-family:Komikazoom;
  color: var(--green-bg)
}
.actor.sheet .domainCheck:hover span {
  text-shadow: #404d48 !important
}
.actor.sheet .domainCheck svg {
  width:25px;
}
.whitebox.box-character-name {
  width: 45%;
  height: 50px;
  box-shadow: inset 0px 0px 30px #c5bda9;
  position: relative;
  top: 14px;
  left: 10px;
  margin-top: -22px;
  z-index: 1;
}
.character-name-label {
  background: var(--green-bg);
  position: relative;
  left: 21px;
  width: 50px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}
.character-vocation-label {
  background: var(--green-bg);
  position: relative;
  left: -15px;
  width: 163px;
  font-size: 12px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}
#character-name {
  border: none;
  height: 46px;
  margin-top: 2px;
  border-radius: none;
  font-family: ITCOfficinaSans;
  font-size: 44px;
}
.actor.sheet.character .tab.character .circle {
  background: center / contain no-repeat
    url("../assets/sheet/Shaan_World_Fiche_de_Perso_Cercle.png");
  background-size: auto 400px;
  height: 600px;
}
.actor.sheet.character .tab.character.active .circle-box {
  position: relative;
  z-index: 0;
}
.whitebox {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  border-radius: 10px;
}
.domain-input:focus, .trihn-input:focus, .current-exp:focus, .max-exp:focus, .input input {
  box-shadow:none !important;
}
input.domain-input {
  width: 30px;
  height: 30px;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  font-family: Georgia, "Bitstream Charter", serif;
  font-size: 21px;
  padding-bottom: 9px;
}
input.trihn-input {
  width: 30px;
  height: 30px;
  position: relative;
  background: none;
  border: none;
  text-align: center;
  font-family: Georgia, "Bitstream Charter", serif;
  font-size: 21px;
  padding-bottom: 9px;
}
input[data-trihn="esprit"] {
  color: var(--esprit);
}
input[data-trihn="ame"] {
  color: var(--ame);
}
input[data-trihn="corps"] {
  color: var(--corps);
}
input[data-trihn="necrose"] {
  color: var(--necrose);
}
section.circle input[type="checkbox"] {
  position: relative;
  width: 11px;
  clip-path: circle(35% at 50% 50%);
}
section.circle input[type="checkbox"][data-trihn="esprit"]:checked {
  accent-color: var(--esprit);
}
section.circle input[type="checkbox"][data-trihn="ame"]:checked {
  accent-color: var(--ame);
}
section.circle input[type="checkbox"][data-trihn="corps"]:checked {
  accent-color: var(--corps);
}
.whitebox.vocation-box {
  height: 92px;
  width: 135px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}
.whitebox.vocation-box .vocation {
  display:flex;
  flex-direction: column;;
  padding-left: 3px;
  overflow-y:scroll;
  height:73px;
}
.whitebox.vocation-box .vocation div {
  display: flex; 
  flex-direction:row;
  font-size:12px;
}
.whitebox.vocation-box .vocation-name {
  cursor:pointer;
}
.whitebox.vocation-box .vocation .item-controls {
  display:flex;
  flex: 1;
  align-self: center;
  justify-content:right;
  font-size: 10px;
  z-index: 10;
}

.whitebox.vocation-box select {
  height: 46px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  align-content: center;
  border: none;
}
section.vocations {
  height: 561px;
}
.label-polygon {
  clip-path: polygon(
    15% 0,
    85% 0,
    100% 50%,
    100% 50%,
    85% 100%,
    15% 100%,
    0 50%,
    0 50%
  );
}

/* Actor IMG */
.actor.sheet.character .frame-container {
  width: 120px;
  margin-left: 5px;
  position: relative;
  top: -556px;
  left: 20px;
}
.actor.sheet.character .frame .player-image {
  border: none;
  border-radius: 0;
  box-shadow: 0 0 0 1px #918c88, 0 0 0 2px #e1d8cf, 0 0 0 3px #a98f39,
    inset 0 0 8px rgba(0, 0, 0, 0.5), 0 0 8px #000;
  cursor: pointer;
  max-height: 140px;
  object-fit: cover;
  object-position: top;
  width: 100%;
}
.actor.sheet .image-container .hover-icon {
  display: none;
  font-size: var(--font-size-16);
}
.actor.sheet .image-container:hover .hover-icon {
  display: block;
}
/* NAV */

.actor.sheet nav {
  flex: 1;
}
.actor.sheet header > nav {
  height: 30px;
  border-style: solid;
  border-image-outset: 0;
  border-width: 9px;
  border-image: url("../assets/sheet/corner-box.webp") 9 repeat;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  width: 100%;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  background: url("../assets/sheet/border-pattern.webp") repeat-x top,
    url("../assets/sheet/border-pattern.webp") repeat-x bottom, var(--green-bg);
}
.actor.sheet header > nav > a {
  color: white;
  padding: 4px 0;
  font-family: var(--sans-serif);
  font-size: var(--font-size-12);
  position: relative;
  height: 36px;
  display: flex;
  align-items: center;
}
.actor.sheet header > nav > a.active::after {
  bottom: -2px;
  right: 39%;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--sidebar-label);
}
.actor.sheet header nav {
  border-width: unset;
}

/* character details */

.actor.sheet .character-details {
  width: 48%;
  margin-top: -90px;
  margin-left: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;
  z-index: 1;
}
.actor.sheet .character-details input {
  border: none;
}
.actor.sheet .character-details .pc,
.actor.sheet .character-details .input {
  display: flex;
  flex-direction: row;
  width: 326px;
  gap:5px;
}
.actor.sheet .character-details .pc label {
  align-self: center;
  width: 156px;
  padding-left: 10px;
}
.actor.sheet .character-details .input h3 {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  padding: 8px 4px 6px;
  width: calc(100% - 6px);
  justify-content:space-between;
}
.actor.sheet .character-details input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  padding: 8px 4px 6px;
  width: calc(100% - 169px);
}
.actor.sheet.character .character-details .pc h3 a {
  margin-left: auto;
}
.actor.sheet.character .character-details .pc h3 .item-controls {
  float: right;
  position: relative;
  right: -2px;
  display:flex;
}
.actor.sheet.character .character-details .pc h3 a i {
  float: right;
  position: relative;
  right: -2px;
  top: -2px;
}
.actor.sheet .character-experience {
  margin-top: -194px;
  width: 136px;
  position: relative;
  top: 14px;
  left: 584px;
}
.actor.sheet .character-experience label {
  color: var(--green-bg)
}
.actor.sheet .character-experience .exp-box {
  display: flex;
  flex-direction: row;
  margin-top: 19px;
}
.actor.sheet .character-experience .whitebox {
  width: 68px;
  padding: 5px;
}
.actor.sheet .character-experience .current-exp {
  border: none;
}
.actor.sheet .character-experience .max-exp {
  width: 50px;
  border: none;
  position: relative;
  top: -13px;
  border-bottom: 2px solid #768c84;
  margin-left: -1px;
}

/* Entretien Soin */
.actor.sheet .entretien-soin {
  position: relative;
  left: -81px;
}
.actor.sheet .entretien-soin label {
  color: var(--green-bg)
}
.actor.sheet .entretien-soin .whitebox {
  width:220px;
}
.actor.sheet .entretien-soin span {
  background: var(--green-bg);
  position: relative;
  top: 7px;
  left: 21px;
  width: 100px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}

/* Tab Abilities */

.tab.abilities.active {
  display: flex !important;
  flex-direction: row;
}
.character-abilities-label {
  background: var(--green-bg);
  position: relative;
  top: 7px;
  left: 21px;
  width: 100px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}
.actor.sheet .whitebox.pouvoirs {
  padding: 5px;
}
.actor.sheet .pouvoir-label {
  align-self: center;
}
.actor.sheet .pouvoir-label,
.actor.sheet .pouvoir-rank-label {
  text-transform: none;
}
.actor.sheet .pouvoir-rank-label {
  font-weight: 700;
}
.actor.sheet .pouvoir-item {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.1fr 1fr 0.1fr;
}
.actor.sheet .fields {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 10px;
  gap: 10px;
  width: 50%;
}
.actor.sheet .bloodline-field,
.actor.sheet .people-field {
  height: 264px;
  padding: 10px;
}
.actor.sheet .character-field-label {
  background: var(--green-bg);
  position: relative;
  top: 17px;
  left: 11px;
  width: 136px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}

/* Possessions */
.tab.possessions.active {
  display: flex !important;
  flex-direction: row;
}
.actor.sheet .whitebox.artefacts {
  padding: 5px;
  height: 645px;
}
.character-artefacts-label {
  background: var(--green-bg);
  position: relative;
  top: 7px;
  left: 21px;
  width: 120px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}
.actor.sheet .whitebox.artefacts .artefacts-container {
  height: 100%
}
.actor.sheet .whitebox.artefacts .artefacts-container .editor {
  height:100%
}
.character-ressources-label {
  background: var(--green-bg);
  position: relative;
  top: 7px;
  left: 21px;
  width: 120px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
  margin-top: 54px;
}
.actor.sheet .whitebox.ressources {
  padding: 5px;
  height: 500px;
}
.actor.sheet .whitebox.ressources .ressources-container {
  height: 100%
}
.actor.sheet .whitebox.ressources .ressources-container .editor {
  height:100%
}

/* Biography */

.tab.biography.active {
  display: flex !important;
  flex-direction: row;
}
.actor.sheet .nav-notes {
  background: var(--green-bg);
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.actor.sheet .nav-notes > a {
  color: white;
  padding: 4px 0;
  font-family: var(--sans-serif);
  font-size: var(--font-size-12);
  position: relative;
  height: 20px;
  display: flex;
  align-items: center;
}
.actor.sheet .nav-notes > a.active::after {
  bottom: -2px;
  right: 39%;
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--sidebar-label);
}
.actor.sheet header nav {
  border-width: unset;
}
.character-notes-label {
  background: var(--green-bg);
  position: relative;
  top: 7px;
  left: 21px;
  width: 120px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}
.character-notes-label {
  background: var(--green-bg);
  position: relative;
  top: 7px;
  left: 21px;
  width: 120px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}
.allies-notes-label {
  background: var(--green-bg);
  position: relative;
  top: 7px;
  left: 21px;
  width: 120px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
  margin-top: 50px;
}
.enemies-notes-label {
  background: var(--green-bg);
  position: relative;
  top: 7px;
  left: 21px;
  width: 120px;
  justify-content: center;
  display: flex;
  color: #ffffff;
  z-index: 2;
}
.actor.sheet .whitebox.notes {
  height: 645px;
  padding: 5px;
}
.actor.sheet .whitebox.notes .notes-content {
  height: 100%;
}
.actor.sheet .whitebox.notes .notes-content .tab {
  height: 100%;
}
.actor.sheet .whitebox.notes .notes-content .userNotes-container,
.actor.sheet .whitebox.notes .notes-content .gmNotes-container,
.actor.sheet .whitebox.notes .notes-content .appearance-container {
  height: 100%;
}
.actor.sheet .whitebox.notes .notes-content .tab.background {
 display: grid;
 height: 97%;
 grid-template-rows: 15px 1fr 15px 1fr 15px 1fr;
 grid-template-columns: 1fr;
 gap: 2px;
 margin-top: 2px;
}
.actor.sheet .whitebox.notes .notes-content .tab.background:first-child{
  border-bottom: 3px solid var(--green-bg);
}
.actor.sheet .whitebox.notes .notes-content .tab.background:last-child{
  border-top: 3px solid var(--green-bg);
}
.actor.sheet .whitebox.notes .editor,
.actor.sheet .whitebox.enemies .editor,
.actor.sheet .whitebox.allies .editor {
  height: 97%;
}
.actor.sheet .whitebox.allies,
.actor.sheet .whitebox.enemies {
  height: 264px;
  padding: 10px;
}
.actor.sheet textarea {
  border: none;
  border-radius: 0;
}
.actor.sheet textarea:focus {
  box-shadow: none;
}
.actor.sheet .mythiques textarea {
  resize: none;
}
/* ITEMS */
.item.sheet .window-content {
  background: var(--green-bg)
}
.item.sheet input {
  border-radius: 0;
  border: none;
}
.item.sheet input:focus {
  box-shadow: none;
}
.item.sheet select {
  border: none;
  border-radius: 0;
}
.item.sheet select:focus {
  box-shadow: none;
}
.item.sheet textarea {
  border: none;
  border-radius: 0;
}
.item.sheet textarea:focus {
  box-shadow: none;
}
/* ITEM VOCATION */

.item.sheet.vocation {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;
  gap:5px;
}
.item.sheet.vocation input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  margin-left: 3px;
  padding: 8px 4px 6px;
  width: calc(100% - 6px);
}
.item.sheet.vocation select {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  margin-left: 3px;
  padding: 8px 4px 4px;
  width: calc(100% - 6px);
}
.item.sheet.vocation label {
  margin-left: 2px;
  font-weight: 700
}
.item.sheet.vocation .sheet-header {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.vocation .sheet-header img {
  border: none;
  background-color: rgba(28, 28, 28, 0.1);
}
.item.sheet.vocation .sheet-header h2 {
  border: none;
  margin:0;
}
.item.sheet.vocation .sheet-header h2 input {
  height: 50px;
  font-family: Komikazoom;
  font-size: var(--font-size-28);
}
.item.sheet.vocation header .item-delete {
    flex: 0.1;
    float: right;
    text-align: center;
}
.item.sheet.vocation header .item-delete:hover {
  text-shadow: 0 0 8px #4d6452;
}
.item.sheet.vocation header .item-delete i {
  font-weight:500;
  font-size:25px;
  
}
.item.sheet.vocation .details {
  display: grid;
  grid-template-rows: 50px 1fr 0.2fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap:5px;
}
.item.sheet.vocation .details .item-domain {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.vocation .details .item-bonus {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.vocation .details .item-origine {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.vocation .details .item-description {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  grid-area: 2 / 1 / 2 / 4;
}
.item.sheet.vocation .details .item-description textarea {
  border: none;
  border-radius: none;
  width: 100% !important;
  resize: none;
  height: 400px !important;
}
.item.sheet.vocation .details .item-equipment {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  grid-area: 3 / 1 / 3 / 4;

}
.item.sheet.vocation .details .item-equipment textarea {
  border: none;
  border-radius: none;
  width: 100% !important;
  resize: none;
  height: 100px !important;
}

/* ITEM LIGNEE */

.item.sheet.lignee {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;
  gap:5px;
}
.item.sheet.lignee input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  margin-left: 3px;
  padding: 8px 4px 6px;
  width: calc(100% - 6px);
}
.item.sheet.lignee .sheet-header {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.lignee .sheet-header h2 {
  border: none;
  margin:0;
}
.item.sheet.lignee .sheet-header h2 input {
  height: 50px;
  font-family: Komikazoom;
  font-size: var(--font-size-28);
}
.item.sheet.lignee .details {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 0.6fr 1fr 1fr;
  gap:5px;
}
.item.sheet.lignee .details .frame-container {
  display:flex;
  justify-content: center;
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  grid-area: 1 / 1 / 3 / 3;
  max-height: 414px;
}
.item.sheet.lignee .details img {
  height: 100%;
  border:none;
}
.item.sheet.lignee .details .item-domain {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.lignee .details .item-bonus {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.lignee .details .item-description {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  grid-area: 2 / 3 / 3 / 5;
}
.item.sheet.lignee .details .item-description textarea {
  border: none;
  border-radius: none;
  width: 100% !important;
  resize: none;
  height: 335px !important;
}

/* ITEM PEUPLE */

.item.sheet.people {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;
  gap:5px;
}
.item.sheet.people input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  margin-left: 3px;
  padding: 8px 4px 6px;
  width: calc(100% - 6px);
}
.item.sheet.people .sheet-header {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.people .sheet-header h2 {
  border: none;
  margin:0;
}
.item.sheet.people .sheet-header h2 input {
  height: 50px;
  font-family: Komikazoom;
  font-size: var(--font-size-28);
}
.item.sheet.people .details {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 0.6fr 1fr 1fr;
  gap:5px;
}
.item.sheet.people .details img {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  grid-area: 1 / 1 / 3 / 3;
  height:100%
}
.item.sheet.people .details .item-domain {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.people .details .item-bonus {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.people .details .item-description {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  grid-area: 2 / 3 / 3 / 5;
}
.item.sheet.people .details .item-description textarea {
  border: none;
  border-radius: none;
  width: 100% !important;
  resize: none;
  height: 335px !important;
}

/* ITEM ARCHETYPE */
/* ITEM ROLE */
.item.sheet.role {
  display: grid;
  grid-template-rows: 70px 1fr;
  grid-template-columns: 1fr;
  gap:5px;
}
.item.sheet.role input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  margin-left: 3px;
  padding: 8px 4px 6px;
  width: calc(100% - 6px);
}
.item.sheet.role .sheet-header {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.role .sheet-header h2 {
  border: none;
  margin:0;
}
.item.sheet.role .sheet-header h2 input {
  height: 50px;
  font-family: Komikazoom;
  font-size: var(--font-size-28);
}
.item.sheet.role .item-description {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.item.sheet.role .item-description textarea {
  border: none;
  border-radius: none;
  width: 100% !important;
  resize: none;
  height: 204px !important;
}

/* DOMAIN CHECK */

/* DIALOG DOMAIN CHECK */
.dialog.check input:focus {
  box-shadow: 0 0 8px #4d6452;
}
.dialog.check select:focus {
  box-shadow: 0 0 8px #4d6452;
}
.dialog.check button:hover {
  text-shadow: 0 0 8px #4d6452;
}
.dialog.check .window-content{
  background: var(--green-bg)
}
.dialog.check form select {
  border: none;
  border-radius:0;
  display: flex;
  width: calc(100%)
}
.dialog.check form input {
  border: none;
  border-radius:0;
  display: flex;
  width: calc(100%)
}
.dialog.check form label {
  font-family: Komikazoom;
  display: flex;
  justify-content: center;
}
.dialog.check .domain-container, .dialog.check .vocation, .dialog.check .bonus, .dialog.check .malus, .dialog.check .lignee, .dialog.check .people {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.dialog.check .form-group.check {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  gap:2px;
}
.dialog.check .domain-container {
    justify-self: center;
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    flex-direction: column;
    width:200px
}
.dialog.check button {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.dialog.check button.default {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}

/* CHAT DOMAIN CHECK */
.dice-roll.domainCheck button:hover {
  text-shadow: 0 0 8px #4d6452;
}
.dice-roll.domainCheck {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 1fr;
  gap:5px;
}
.dice-roll.domainCheck h2 {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  justify-content: center;
  display: flex;
  font-family: Komikazoom
}
.chat-message.roll-message {
  border-radius:0;
  background:var(--green-bg) !important;
}
.dice-roll.domainCheck .dice {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template: 1fr;
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.dice-roll.domainCheck .dice.necrose {
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.dice-roll.domainCheck .dice.necrose img {
  height: 68px;
  align-self:center;
}
.dice-roll.domainCheck .dice img {
  border: none;
}
.dice-roll.domainCheck .dice .die {
  opacity: 0.6;
}
.dice-roll.domainCheck .dice .die.Necrose{
  opacity:1 !important;
}
.dice-roll.domainCheck .dice .die.trihnDie {
  opacity: 1 !important; 
}
.dice-roll.domainCheck .details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.7fr 1fr;
  gap:5px;
}
.dice-roll.domainCheck .domain{
  display:flex;
  justify-content:center;
  padding: 4px;
  text-transform:capitalize;
  font-family: Komikazoom
}
.dice-roll.domainCheck .domain.Esprit {
  background-color:var(--esprit);
  color:#fffcdb
}
.dice-roll.domainCheck .domain.Ame {
  background-color:var(--ame);
  color: #d5eefc;
}
.dice-roll.domainCheck .domain.Corps {
  background-color:var(--corps);
  color: #fbdaca;
}
.dice-roll.domainCheck .domain.Necrose {
  background-color:var(--necrose);
  color: black;
}
.dice-roll.domainCheck .vocations {
  display:grid;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: 1fr 1fr;
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  gap:5px;
  padding:5px;
  align-items:center;
}
.dice-roll.domainCheck .vocations .vocation-label {
  grid-area: 1 / 1 / 2 / 3;
  font-family: Komikazoom;
}
.dice-roll.domainCheck .vocations span {
  display: flex;
  justify-content: center;
}
.dice-roll.domainCheck .vocation.Technique, .dice-roll.domainCheck .vocation.Savoir, .dice-roll.domainCheck .vocation.Social {
  border: 3px solid var(--esprit)
}
.dice-roll.domainCheck .vocation.Arts, .dice-roll.domainCheck .vocation.Shaan, .dice-roll.domainCheck .vocation.Magie {
  border: 3px solid var(--ame)
}
.dice-roll.domainCheck .vocation.Rituels, .dice-roll.domainCheck .vocation.Survie, .dice-roll.domainCheck .vocation.Combat {
  border: 3px solid var(--corps)
}
.dice-roll.domainCheck .vocation.Nécrose {
  border: 3px solid var(--necrose)
}
.dice-roll.domainCheck .modifiers {
  display:grid;
  grid-template-rows:1fr 1fr;
  grid-template-columns:1fr 1fr;
  gap:5px;
}
.dice-roll.domainCheck .modifiers span {
  display:flex;
  justify-content:center;
  font-family: Komikazoom;
}
.dice-roll.domainCheck .modifiers .bonus, .dice-roll.domainCheck .modifiers .malus, .dice-roll.domainCheck .modifiers .lignee, .dice-roll.domainCheck .modifiers .people {
  display:grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.dice-roll.domainCheck .pertes {
  display:flex;
  justify-content:center;
  font-family: Komikazoom;
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.dice-roll.domainCheck .score-div {
  display:flex;
  justify-content:center;
  font-family: Komikazoom;
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  gap: 5px;
}
.dice-roll.domainCheck button {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}

/* TOKEN HUD */
#token-hud {
  display: flex;
}

#token-hud .SRTokenStats {
  display: flex;
  flex-direction: row;
}
#token-hud .attribute.bar1 img {
  border: none;
  width: 60%;
  position: absolute;
  left: -30%;
  top: 90%;
}
#token-hud .col.middle .attribute.bar1 input {
  position: absolute;
  left: -25%;
  top: 97%;
  color: black;
  font-family:Komikazoom;
}
#token-hud .attribute.bar2 img {
  border: none;
  width: 60%;
  position: absolute;
  left: 19%;
  top: 90%;
}
#token-hud .col.middle .attribute.bar2 input {
  position: absolute;
  left: 24%;
  top: 95%;
  color: black;
  font-family:Komikazoom;
}
#token-hud .attribute.bar3 img {
  border: none;
  width: 60%;
  position: absolute;
  left: 72%;
  top: 90%;
}
#token-hud .col.middle .attribute.bar3 input {
  position: absolute;
  left: 77%;
  top: 95%;
  color: black;
  font-family:Komikazoom;
}
#token-hud .col.middle .attribute input {
  border: none;
  background: none;
  box-shadow: none;
  width: 50%;
}

/* Dialog Puiser */

.puiser-dialog img {
  width: 15%;
  border: none;
}
.puiser-dialog fieldset div,
.puiser-dialog fieldset div label {
  display: flex;
}
.puiser-dialog input[type="radio"],
.puiser-dialog span {
  align-self: center;
}

/* ADVERSITE */
.sheet.adversite .window-content{
  background: var(--green-bg);
  width:100%
}
.actor.sheet.adversite input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  padding: 8px 4px 6px;
  width: 100%
}
.actor.sheet.adversite textarea {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  padding: 8px 4px 6px;
  min-width: 375.2px;
  max-width:375.2px;
}
.actor.sheet.adversite input:focus {
  box-shadow: none;
}
.actor.sheet.adversite textarea:focus {
  box-shadow: none;
}
.actor.sheet.adversite {
  display: grid;
  grid-template-rows: calc(375.2px + 50px) 90px 0.5fr 1fr;
  grid-template-columns: 1fr;
  gap:5px;
  height:90px;
}
.actor.sheet.adversite h2 {
  font-family: Komikazoom;
  color: var(--green-bg);
  text-align:center;
}
.actor.sheet.adversite header {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.actor.sheet.adversite header input {
  height: 50px;
  font-family: ITCOfficinaSans;
  font-size: 22px;
  font-weight: 700;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
  color:var(--green-bg)
}
.actor.sheet.adversite header img {
  border:none;
  max-width:375.2px;
  max-height:375.2px;
}
.actor.sheet.adversite section.adversite {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  display:grid;
  grid-template-rows: 25px 1fr;
  grid-template-columns: 1fr 1fr;
  row-gap: 5px;
  padding:2px;
}
.actor.sheet.adversite section.adversite input {
  width: calc(100% - 6px);
}
.actor.sheet.adversite section.adversite h2 {
  margin: 0;
  border-bottom: 1px solid var(--green-bg);
  display: flex;
  flex-direction:row;
  align-self: center;
  justify-content: center;
  gap: 3px;
  margin-left: 3px;
  text-align: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.actor.sheet.adversite section.adversite h2 input {
  align-self: center;
}
.actor.sheet.adversite section.adversite label {
  color:var(--green-bg)
}
.actor.sheet.adversite section.domains h2 {
  margin: 0;
  border-bottom: 1px solid var(--green-bg);
  text-align: center;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;    
}

.actor.sheet.adversite section.domains {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25px 1fr 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 2px;
  justify-content: center;
  text-align: center;
  padding: 3px;
}

.actor.sheet.adversite section.domains div {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
}
.actor.sheet.adversite section.domains label {
  padding-right: 5px;
  padding-left:5px;
  font-weight:700;
  margin-bottom: 3px;
  width: 60%;
}
.actor.sheet.adversite section.domains .technique, .actor.sheet.adversite section.domains .savoir, .actor.sheet.adversite section.domains .social {
  background:var(--esprit);
  color:#fffcdb;
}
.actor.sheet.adversite section.domains .technique, .actor.sheet.adversite section.domains .savoir, .actor.sheet.adversite section.domains .social {
  grid-column-start:1
}
.actor.sheet.adversite section.domains .arts, .actor.sheet.adversite section.domains .shaan, .actor.sheet.adversite section.domains .magie {
  background:var(--ame);
  color:#d5eefc;
}
.actor.sheet.adversite section.domains .arts, .actor.sheet.adversite section.domains .shaan, .actor.sheet.adversite section.domains .magie {
  grid-column-start:2
}
.actor.sheet.adversite section.domains .rituels, .actor.sheet.adversite section.domains .survie, .actor.sheet.adversite section.domains .combat {
  background:var(--corps);
  color:#fbdaca;
}
.actor.sheet.adversite section.domains .rituels, .actor.sheet.adversite section.domains .survie, .actor.sheet.adversite section.domains .combat {
  grid-column-start:3
}
.actor.sheet.adversite section.domains .necrose {
  background:var(--necrose);
  color:#c3c3c3;
}
.actor.sheet.adversite section.domains .necrose {
  grid-column-start:2
}
.actor.sheet.adversite section.domains .arts, .actor.sheet.adversite section.domains .rituels{
  grid-row-start: 2
}
.actor.sheet.adversite section.domains .shaan, .actor.sheet.adversite section.domains .survie{
  grid-row-start: 3
}
.actor.sheet.adversite section.domains .magie, .actor.sheet.adversite section.domains .combat{
  grid-row-start: 4
}
.actor.sheet.adversite .details {
  max-width:100%
}
.actor.sheet.adversite .details div {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  display:flex;
  flex-direction: column;
  gap:3px;
  margin-top: 5px;
  padding:2px;
}
.actor.sheet.adversite .details div:first-child {
  margin-top:0px
}
.actor.sheet.adversite .details div label {
  color:var(--green-bg)
}
.actor.sheet.adversite .details .adversite-description textarea {
  min-height: 300px;
}
.actor.sheet.adversite .details .adversite-secret textarea {
  min-height: 300px;
}
.actor.sheet.adversite .details .adversite-resolution textarea {
  min-height: 300px;
}
.actor.sheet.adversite .details .adversite-bonusNarratif textarea {
  min-height: 300px;
}
.actor.sheet.adversite .details .adversite-gain textarea {
  min-height: 80px;
}
.actor.sheet.adversite .details div:last-child {
  margin-bottom: 10px;
}

/* Dialog Adversite */
.dialog.adversites input:focus {
  box-shadow: 0 0 8px #4d6452;
}
.dialog.adversites select:focus {
  box-shadow: 0 0 8px #4d6452;
}
.dialog.adversites button:hover {
  text-shadow: 0 0 8px #4d6452;
}
.dialog.adversites .window-content {
  background: var(--green-bg)
}
.dialog.adversites form select {
  border: none;
  border-radius:0;
  display: flex;
  width: calc(100%);
  text-align: center;
}
.dialog.adversites form input {
  background-color: rgba(28, 28, 28, 0.1);
  border: none;
  color: var(--body);
  display: flex;
  font: 700 var(--font-size-14) var(--body-serif);
  line-height: 1;
  margin: 0;
  padding: 8px 4px 6px;
  width: 100%;
  border-radius:0;
}
.dialog.adversites h2 {
  font-family: Komikazoom;
  color: var(--green-bg);
  border:none;
  text-align:center;
  margin:0;
}
.dialog.adversites label {
  color: var(--green-bg);
  font-family: ITCOfficinaSans;
  text-transform:uppercase;
}
.dialog.adversites .form-group, .dialog.adversites button, .dialog.adversites button.default {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.dialog.adversites .form-group.adversites {
  display:grid;
  padding:5px;
  gap: 5px;
  row-gap:0px;
  grid-template-columns: 1fr;
  grid-template-rows:30px 1fr
}
.dialog.adversites .form-group.pertes {
  display:flex;
  flex-direction:column;
}
.dialog.adversites .form-group.pertes .perte {
  display:grid;
  padding:5px;
  gap: 5px;
  row-gap:0px;
  grid-template-columns: 1fr;
  grid-template-rows:30px 1fr
}
.dialog.adversites .form-group.pertes .perte div{
  display:flex;
  flex-direction:row;
  justify-content: center;
  gap: 3px;
  align-items:center;
}
.dialog.adversites .form-group.pertes .perte input {
  width:30%
}
.dialog.adversites .form-group.pertes .repartir {
  display:grid;
  padding:5px;
  gap: 5px;
  row-gap:0px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr
}

.dialog.adversites .form-group.score {
  display:grid;
  padding:5px;
  gap: 5px;
  row-gap:0px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30px 1fr
}
.dialog.adversites .form-group.score h2 {
  grid-column-start:1;
  grid-column-end:3;
  grid-row-start:1;
  grid-row-end:1;
}

li:has(.chat-card.puiser), li:has(.chat-card.adversite) {
  border-radius: 0;
  background: var(--green-bg) !important;
}
.chat-card.puiser, .chat-card.adversite{
  display:flex;
  flex-direction:column;
  gap: 5px;
}
.chat-card.puiser button:hover {
  text-shadow: 0 0 8px #4d6452;
}
.chat-card.puiser button {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
}
.chat-card.puiser span, .chat-card.adversite span {
  border: 2px solid var(--whitebox-border);
  background-color: var(--whitebox-background);
  box-shadow: inset 0px 0px 20px var(--whitebox-border);
  display:flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
.chat-card.puiser .score, .chat-card.adversite .score {
  margin-left: 2px;
  margin-right: 2px;
}
.chat-card span[data-adversite-id] {
  font-weight:700;
  cursor:pointer;
}
.chat-card span[data-adversite-id]:hover {
  text-shadow: 0 0 8px #4d6452;
}